<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="css/templatemo-comparto.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Comparto HTML CSS Template</title>
<!--

Comparto TemplateMo

https://templatemo.com/tm-544-comparto

-->
</head>

<body>
    <!-- Back to top button -->
    <a id="button"><i class="fas fa-angle-up fa-2x"></i></a>
    <div class="container-fluid">
        <div class="tm-site-header tm-mb-1">
            <div class="tm-site-name-container tm-bg-color-1">
                <img src="img/slider1.jpg" alt="" style="float: left; width: 20%; height:90%; margin-top: 32px; padding-bottom: 30px; margin-left: -5%; z-index: 500;" VSPACE="-5"> 
                <h3 class="tm-text-white"> &nbsp;&nbsp;&nbsp;PROGRAMMING<br> &nbsp;&nbsp; CLUB</h3>
            </div>
            <div class="tm-nav-container tm-bg-color-8">
                <nav class="tm-nav" id="tm-nav">
                    <ul>
                        <li class="tm-nav-item current">
                            <a href="#about" class="tm-nav-link">
                                <span>About</span>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#services" class="tm-nav-link">
                                <span>Resources</span>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#gallery" class="tm-nav-link">
                                <span>Events</span>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#contact" class="tm-nav-link">
                                <span class="tm-nav-text">Contact</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- <section> -->
        <div class="sticky">
            <div class="tm-site-header tm-mb-1" style="height: 50px;">
                <div class="tm-site-name-container tm-bg-color-1">
                    <h3 class="tm-text-white">Announcement</h3>
                </div>  
                <div class="tm-nav-container tm-bg-color-8">
                    <div class="mySlides">
                    <span style="margin-right: 750px;">sdfg</span>
                    </div>    
                </div>
            </div>
        </div>
        <!-- </section> -->
        <div class="tm-site-header tm-mb-1" style="height: 50px;">
            <div class="tm-site-name-container tm-bg-color-1">
                <h3 class="tm-text-white">Search Tags : </h3>
            </div>  
            <div class="tm-nav-container tm-bg-color-8">
                <select input type="text" value="Search tags...">
                    <option value="">Search Tags :</option>
                    <option value="">Django</option>
                    <option value="">Web</option>
                </select>
                <!-- <span style="margin-right: 750px;">sdfg</span> -->
            </div>
        </div>

        <section class="tm-mb-1" id="about">
            <div class="tm-row tm-about-row">
                <div class="tm-section-1-l">
                    <img src="img/comparto-image-01.jpg" alt="About image" class="tm-img-responsive">
                </div>
                <article class="tm-section-1-r tm-bg-color-8">
                    <h2 class="tm-mb-2 tm-title-color">.01 Comparto CSS Layout</h2>
                    <p><a rel="nofollow" href="https://templatemo.com/tm-544-comparto" target="_parent">Comparto</a> is a custom light-weight CSS layout for your website. You can easily adapt and use this for your commercial or personal websites. Feel free to use it.</p>
                    <p>You cannot redistribute this template ZIP file in any template collection website. Please <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact TemplateMo</a> if you have any question.</p>
                    <p>Nunc sed gravida elit. Curabitur rutrum elit id lobortis viverra. Fusce at libero dui.</p>
                    
                    <a href="#services" class="tm-btn tm-btn-1 tm-link-to-services">More Detail</a>
                </article>
            </div>
        </section>
        <div class="tm-bg-color-1 tm-mb-1 tm-row tm-social-row">
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#services">
                        <i class="fas fa-synagogue fa-4x tm-mb-1"></i>
                        <p>Aenean vel est id massa condimentum</p>
                    </a>
                </div>
            </div>
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#gallery">
                        <i class="fas fa-chart-bar fa-4x tm-mb-1"></i>
                        <p>Suspendisse interdum lectus purus</p>
                    </a>
                </div>
            </div>
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#contact">
                        <i class="fas fa-images fa-4x tm-mb-1"></i>
                        <p>Nulla ac sodales est vel iaculis purus</p>
                    </a>
                </div>
            </div>
        </div>
        <section class="tm-mb-1 tm-row tm-services-row" id="services">
            <div class="tm-section-2-l">
                <article class="tm-bg-color-6 tm-box-pad tm-mb-1">
                    <h2 class="tm-mb-2">.02 Aliquam pretium hendrerit</h2>
                    <p>Cras tempus, velit amet facilisis venenatis, erat felis imperdiet lectus, at posuere elit metus. Title #333 BG #F2F2F2</p>
                    <p class="tm-mb-0">Nam iaculis, urna ut laoreet aliquam, massa magna dapibus. Text #666</p>
                </article>
                <div class="tm-bg-color-7 tm-em-box">
                    <p class="tm-text-color-2">Nam iaculis, urna ut laoreet aliquam, massa magna dapibus nibh, at pellentesque lectus odio non risus. Nulla ac sodales est, vel iaculis. Text #333 . BG #DDD</p>
                    <a href="#gallery" class="tm-btn tm-btn-2">Read More</a>
                </div>
            </div>
            <div class="tm-section-2-r">
                <img src="img/comparto-image-02.jpg" alt="Services image" class="tm-img-responsive">
            </div>
        </section>
        <section class="tm-bg-color-4 tm-mb-3 tm-gallery-section" id="gallery">
            <div class="tm-gallery-header">
                <h2 class="tm-mb-1 text-right">.03 The Gallery Section</h2>
                <ul class="tm-gallery-filter tabs clearfix filters-button-group">
                    <li><a role="button" href="#" class="active" data-filter="*">Show All</a></li>
                    . <li><a role="button" href="#" data-filter=".nature">Nature</a></li>
                    . <li><a role="button" href="#" data-filter=".animals">Animals</a></li>
                    . <li><a role="button" href="#" data-filter=".people">People</a></li>
                </ul>
            </div>
            <div class="tm-gallery-outer">
                <div class="tm-gallery" id="tm-gallery">
                    <div class="tm-gallery-item nature">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-01.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Too <span>CSS</span></h2>
                                <p>It is a great blog you should explore.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item animals">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-02.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Templates</h2>
                                <p>best templates come from TemplateMo website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item nature">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-03.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Web <span>Design</span></h2>
                                <p>This is our special design work.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item nature">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-04.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Free <span>HTML</span></h2>
                                <p>HTML layouts are easy to edit.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item animals">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-05.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Just <span>Art</span></h2>
                                <p>You can create your own art website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item animals">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-06.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Pro <span>Display</span></h2>
                                <p>You can make your artwork gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item peopl">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-07.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>The <span>Nature</span></h2>
                                <p>You can create your own HTML website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-08.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Color <span>Art</span></h2>
                                <p>You can create your own CSS website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-09.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Take it <span>easy</span></h2>
                                <p>You can create your own art gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-10.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Share <span>This</span></h2>
                                <p>You can make your own image gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section> <!-- Gallery -->
        <section id="contact" class="tm-bg-color-5 tm-mb-3">
            <h2 class="tm-text-white tm-contact-title">.04 Contact Us</h2>
            <div class="tm-bg-color-white tm-contact-main">
                <div class="map-outer">
                    <div class="gmap-canvas">
                        <!-- How to change your own map point
                            1. Go to Google Maps
                            2. Click on your location point
                            3. Click "Share" and choose "Embed map" tab
                            4. Copy only URL and paste it within the src="" field below
                        -->
                        <iframe width="100%" height="400" id="gmap-canvas"
                            src="https://maps.google.com/maps?q=Av.+Lúcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
                <div class="contact-form-outer">
                    <form id="contact-form" action="" method="POST" class="tm-bg-color-6 tm-contact-form">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name" required="" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div class="form-group">
                            <textarea rows="4" name="message" class="form-control" placeholder="Message..."
                                required=""></textarea>
                        </div>
                        <div>
                            <button type="submit" class="ml-auto tm-btn tm-btn-3">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
                <div class="contact-info-outer">
                    <div class="tm-bg-color-6 contact-info">
                        <p>Pellentesque egestas odio sed tellus dictum, vel lobortis ante vehicula.</p>
                        <p>Morbi eget accumsan libero, non tincidunt felis.</p>
                        <p class="tm-mb-0">Tel: <a href="tel:0100200990">010-020-0990</a></p>
                        <p>Email: <a href="mailto:info@company.com">info@company.com</a></p>
                    </div>
                </div>
            </div>
        </section>
        <div class="tm-mb-4 text-center tm-social-s">
            <a href="https://fb.com/templatemo" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
            <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
            <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
            <a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
        </div>
        <footer class="text-center tm-mb-1">
            <p>Copyright &copy; 2020 Comparto Studio 
            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
        </footer>
    </div> <!-- .container -->
    <script src="js/jquery.min.js"></script> <!-- https://jquery.com/download/ -->
    <script src="js/imagesloaded.pkgd.min.js"></script> <!-- https://imagesloaded.desandro.com/ -->
    <script src="js/isotope.pkgd.min.js"></script> <!-- https://isotope.metafizzy.co/ -->
    <script src="js/jquery.singlePageNav.min.js"></script> <!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script>
        

        // Scroll to Top button
        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });

        // DOM is ready
        $(function () {
            // Single Page Nav
            $('#tm-nav').singlePageNav({ speed: 600 });

            // Smooth Scroll (https://css-tricks.com/snippets/jquery/smooth-scrolling/)
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                        &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 600, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });

            /* Isotope Gallery */

            // init isotope
            var $gallery = $(".tm-gallery").isotope({
                itemSelector: ".tm-gallery-item",
                layoutMode: "fitRows"
            });
            // layout Isotope after each image loads
            $gallery.imagesLoaded().progress(function () {
                $gallery.isotope("layout");
            });

            $(".filters-button-group").on("click", "a", function () {
                var filterValue = $(this).attr("data-filter");
                $gallery.isotope({ filter: filterValue });
            });

            $(".tabgroup > div").hide();
            $(".tabgroup > div:first-of-type").show();
            $(".tabs a").click(function (e) {
                e.preventDefault();
                var $this = $(this),
                    tabgroup = "#" + $this.parents(".tabs").data("tabgroup"),
                    others = $this
                        .closest("li")
                        .siblings()
                        .children("a"),
                    target = $this.attr("href");
                others.removeClass("active");
                $this.addClass("active");
            });
        });
        var stickyOffset = $('.sticky').offset().top;

        $(window).scroll(function(){
        var sticky = $('.sticky'),
            scroll = $(window).scrollTop();
            
        if (scroll >= stickyOffset) sticky.addClass('fixed');
        else sticky.removeClass('fixed');
        });

        var slideIndex = 0;
        carousel();

        function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none"; 
        }
        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1} 
        x[slideIndex-1].style.display = "block"; 
        setTimeout(carousel, 2000); 
        }
    </script>
</body>
</html>





































<div class="page-content">
    <div class="wrapper">
      <br>

        <div class="row">
            <div class="columns samping card">
                <h1 style="color: #00ffff;"> Current Coordinators </h1>
                <div class="flex-col">
                    <div class="flex-row flex-row-wrap single-row">
                
                        <div>
                            <div> <img src="assets/image/deepankur.jpg" class="pic" alt="Deepankur Kansal"> </div>
                            <div class="flex-col flex-grow-1">
                                <div> <b> Deepankur Kansal </b> </div>
                                <div> <a href="tel:919457509700"> 919457509700 </a> </div>
                                <div> <a href="mailto:deepank@iitk.ac.in"> deepank@iitk.ac.in </a> </div>
                                <div> <a href="https://github.com/DeepankurK" target="_blank">DeepankurK@github</a></div>
                            </div>
                        </div>
                
                        <div>
                            <div> <img src="assets/image/nilay.jpg" class="pic" alt="Nilay Majorwar"> </div>
                            <div class="flex-col flex-grow-1">
                                <div> <b> Nilay Majorwar </b> </div>
                                <div> <a href="tel:919559084545"> 919559084545 </a> </div>
                                <div> <a href="mailto:majorwar@iitk.ac.in"> majorwar@iitk.ac.in </a> </div>
                                <div> <a href="https://github.com/NilayMajorwar" target="_blank">NilayMajorwar@github</a></div>
                            </div>
                        </div>
                
                        <div>
                            <div> <img src="assets/image/nirmal.jpg" class="pic" alt="Nirmal Suthar"> </div>
                                <div class="flex-col flex-grow-1">
                                <div> <b> Nirmal Suthar </b> </div>
                                <div> <a href="tel:918238486606"> 918238486606 </a> </div>
                                <div> <a href="mailto:nirmalps@iitk.ac.in"> nirmalps@iitk.ac.in </a> </div>
                                <div> <a href="https://github.com/nirmal-suthar" target="_blank">nirmal-suthar@github</a></div>
                                </div>
                        </div>
                
                    <div>
                    <div> <img src="assets/image/priydarshi.jpg" class="pic" alt="Priydarshi Singh"> </div>
                    <div class="flex-col flex-grow-1">
                        <div> <b> Priydarshi Singh </b> </div>
                        <div> <a href="tel:917318301507"> 917318301507 </a> </div>
                        <div> <a href="mailto:darshi@iitk.ac.in"> darshi@iitk.ac.in </a> </div>
                        <div> <a href="https://github.com/dryairship" target="_blank">dryairship@github</a></div>
                    </div>
                    </div>
                
                </div>
            </div>
            <h1 style="color: #00ffff;">Current Secretaries</h1>
            <table class="secyTable" cellpadding="5">
                <tr>
                <th>Name</th>
                <th>Hall</th>
                <th>Mobile Number</th>
                <th>Email-ID</th>
                <th>GitHub</th>
                <th>Facebook</th>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Aashish Patel</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9415606650">9415606650</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:aashishp@iitk.ac.in"> aashishp@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/aashishpiitk" target="_blank">aashishpiitk@github</a></td>
                    <td> <a href="https://facebook.com/aashish.patel.397948" target="_blank">aashish.patel.397948</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Abhimanyu Sethia</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:8989624974">8989624974</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:sethia@iitk.ac.in"> sethia@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/abhimanyusethia12" target="_blank">abhimanyusethia12@github</a></td>
                    <td> <a href="https://facebook.com/abhimanyusethia12" target="_blank">abhimanyusethia12</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Aditya Ranjan</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9625266821">9625266821</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:aranjan@iitk.ac.in"> aranjan@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/Zark84010" target="_blank">Zark84010@github</a></td>
                    <td> <a href="https://facebook.com/Zark84010" target="_blank">Zark84010</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Antreev Singh</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:7589244907">7589244907</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:antreev@iitk.ac.in"> antreev@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/antreev-brar" target="_blank">antreev-brar@github</a></td>
                    <td> <a href="https://facebook.com/antreev.singh" target="_blank">antreev.singh</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Atharv Singh Patlan</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:8010425187">8010425187</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:atharvsp@iitk.ac.in"> atharvsp@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/AthaSSiN" target="_blank">AthaSSiN@github</a></td>
                    <td> <a href="https://facebook.com/atharvsinghpatlan" target="_blank">atharvsinghpatlan</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Ayush Gupta</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:8689903482">8689903482</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:gayush@iitk.ac.in"> gayush@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/ayush12gupta" target="_blank">ayush12gupta@github</a></td>
                    <td> <a href="https://facebook.com/ayush12gupta" target="_blank">ayush12gupta</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Bhagwat Garg</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9711313080">9711313080</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:bhagwat@iitk.ac.in"> bhagwat@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/bhagwatgarg" target="_blank">bhagwatgarg@github</a></td>
                    <td> <a href="https://facebook.com/gargbhagwat" target="_blank">gargbhagwat</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Dawood Bin Mansoor</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9621957017">9621957017</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:dawood@iitk.ac.in"> dawood@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/rockstar2514" target="_blank">rockstar2514@github</a></td>
                    <td> <a href="https://facebook.com/dawood.binmansoor" target="_blank">dawood.binmansoor</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Dipanshu Garg</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9779051454">9779051454</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:dipanshu@iitk.ac.in"> dipanshu@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/dipanshu124" target="_blank">dipanshu124@github</a></td>
                    <td> <a href="https://facebook.com/100004662888280" target="_blank">100004662888280</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Diya Singhal</td>
                    <td class="secyRow" align="center"> 6 </td>
                    <td class="secyRow" align="center"> <a href="tel:9899671645">9899671645</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:diyans@iitk.ac.in"> diyans@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/diyasinghal21" target="_blank">diyasinghal21@github</a></td>
                    <td> <a href="https://facebook.com/diya.singhal.79" target="_blank">diya.singhal.79</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Ishit Darania</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:7678249989">7678249989</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:ishitdar@iitk.ac.in"> ishitdar@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/IshitManojkumarDarania" target="_blank">IshitManojkumarDarania@github</a></td>
                    <td> <a href="https://facebook.com/ishit.darania" target="_blank">ishit.darania</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Kartikeya  Gupta</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:8090040800">8090040800</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:gkartik@iitk.ac.in"> gkartik@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/kartikcode" target="_blank">kartikcode@github</a></td>
                    <td> <a href="https://facebook.com/kartikeya.gupta.750" target="_blank">kartikeya.gupta.750</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Mridul dubey</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9119796117">9119796117</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:mriduldu@iitk.ac.in"> mriduldu@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/mridul911" target="_blank">mridul911@github</a></td>
                    <td> <a href="https://facebook.com/mridul.dubey.944" target="_blank">mridul.dubey.944</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Nupur Jain</td>
                    <td class="secyRow" align="center"> 6 </td>
                    <td class="secyRow" align="center"> <a href="tel:9972407957">9972407957</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:nupurj@iitk.ac.in"> nupurj@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/NupurJ" target="_blank">NupurJ@github</a></td>
                    <td> <a href="https://facebook.com/100009404153757" target="_blank">100009404153757</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Pramodh Gopalan</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:7400047180">7400047180</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:pramodh@iitk.ac.in"> pramodh@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/pramodh-1612" target="_blank">pramodh-1612@github</a></td>
                    <td> <a href="https://facebook.com/pramodh.gopalan" target="_blank">pramodh.gopalan</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Rohan Baijal</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9958206389">9958206389</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:rbaijal@iitk.ac.in"> rbaijal@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/rohanblueboybaijal" target="_blank">rohanblueboybaijal@github</a></td>
                    <td> <a href="https://facebook.com/100009512316414" target="_blank">100009512316414</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Sarthak Rout</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9438354480">9438354480</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:sarthakr@iitk.ac.in"> sarthakr@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/SarthakRout" target="_blank">SarthakRout@github</a></td>
                    <td> <a href="https://facebook.com/sarthak.rout.1" target="_blank">sarthak.rout.1</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Shivanshu Tyagi</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9131768145">9131768145</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:shivty@iitk.ac.in"> shivty@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/spazewalker" target="_blank">spazewalker@github</a></td>
                    <td> <a href="https://facebook.com/Shiv.2113" target="_blank">Shiv.2113</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Shubh Agrawal</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:7838667354">7838667354</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:agshubh@iitk.ac.in"> agshubh@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/shubh10" target="_blank">shubh10@github</a></td>
                    <td> <a href="https://facebook.com/shubh101220001" target="_blank">shubh101220001</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Som Tambe</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:7506042942">7506042942</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:somvt@iitk.ac.in"> somvt@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/SomTambe" target="_blank">SomTambe@github</a></td>
                    <td> <a href="https://facebook.com/tambesom" target="_blank">tambesom</a></td>
                </tr>
                
                <tr>
                    <td class="secyRow" align="center"> Yatharth Goswami</td>
                    <td class="secyRow" align="center"> 13 </td>
                    <td class="secyRow" align="center"> <a href="tel:9982144450">9982144450</a></td>
                    <td class="secyRow" align="center"> <a href="mailto:ygoswami@iitk.ac.in"> ygoswami@iitk.ac.in </a> </td>
                    <td> <a href="https://github.com/yatharth0610" target="_blank">yatharth0610@github</a></td>
                    <td> <a href="https://facebook.com/yatharth.goswami.79" target="_blank">yatharth.goswami.79</a></td>
                </tr>
                
            </table>
            </div>
            </div>


        <div class="row new-card-margin">
        <div class="columns samping card">
        <h1> 2019 - 20 Coordinators </h1>
        <div class="flex-col">
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/adityagulati.jpg" class="pic" alt="Aditya Gulati">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Aditya Gulati </b> </td>
                <td> <a href="mailto:aditg@iitk.ac.in"> aditg@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/ditttu" target="_blank">ditttu@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    
                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/anishsaxena.jpg" class="pic" alt="Anish Saxena">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Anish Saxena </b> </td>
                <td> <a href="mailto:anishs@iitk.ac.in"> anishs@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/Anish-Saxena" target="_blank">Anish-Saxena@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    
                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/kushagragupta.jpg" class="pic" alt="Kushagra Gupta">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Kushagra Gupta </b> </td>
                <td> <a href="mailto:kushgpt@iitk.ac.in"> kushgpt@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/kushagragpt99" target="_blank">kushagragpt99@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    
                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/yugeshkothari.jpg" class="pic" alt="Yugesh Kothari">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Yugesh Kothari </b> </td>
                <td> <a href="mailto:yugeshk@iitk.ac.in"> yugeshk@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/yugeshk" target="_blank">yugeshk@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    
                </p>
                </div>
            </div>
            </div>
            
        </div>
        </div>
        </div>

        <div class="row new-card-margin">
        <div class="columns samping card">
        <h1> 2018 - 19 Coordinators </h1>
        <div class="flex-col">
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/ahsan.jpg" class="pic" alt="Ahsan Barkati">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Ahsan Barkati </b> </td>
                <td> <a href="mailto:ahsanb@iitk.ac.in"> ahsanb@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/ahsanbarkati" target="_blank">ahsanbarkati@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    
                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/anant.jpg" class="pic" alt="Anant Prakash">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Anant Prakash </b> </td>
                <td> <a href="mailto:anantp@iitk.ac.in"> anantp@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/apwhitehat" target="_blank">apwhitehat@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    
                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/ayush.jpg" class="pic" alt="Ayush Bansal">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Ayush Bansal </b> </td>
                <td> <a href="mailto:ayushb@iitk.ac.in"> ayushb@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/ayush268" target="_blank">ayush268@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    
                </p>
                </div>
            </div>
            </div>
            
        </div>
        </div>
        </div>

        <div class="row new-card-margin">
        <div class="columns samping card">
        <h1> 2017 - 18 Coordinators </h1>
        <div class="flex-col">
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/arjun.jpg" class="pic" alt="Arjun Sinha">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Arjun Sinha </b> </td>
                <td> <a href="mailto:arjuns@iitk.ac.in"> arjuns@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/ajs97" target="_blank">ajs97@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    Interning at Tower Research in Summer 2018.
        ACM ICPC World Finalist.

                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/milind.jpg" class="pic" alt="Milind Luthra">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Milind Luthra </b> </td>
                <td> <a href="mailto:milindl@iitk.ac.in"> milindl@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/milindl" target="_blank">milindl@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    Interning at Flipkart, Bangalore in Summer 2018.

                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/varun.png" class="pic" alt="Varun Khare">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Varun Khare </b> </td>
                <td> <a href="mailto:varun@iitk.ac.in"> varun@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/varunkhare1234" target="_blank">varunkhare1234@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    Research Intern at National University of Singapore in Summer 2018.

                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/yash.jpg" class="pic" alt="Yash Srivastav">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Yash Srivastav </b> </td>
                <td> <a href="mailto:yashsriv@iitk.ac.in"> yashsriv@iitk.ac.in </a> </td>
                <td> <a href="https://github.com/yashsriv" target="_blank">yashsriv@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    Research Intern at New York University in Summer 2018.
        Successfully completed GSoC in 2017 under the Linux Foundation.

                </p>
                </div>
            </div>
            </div>
            
        </div>
        </div>
        </div>

        <div class="row new-card-margin">
        <div class="columns samping card">
        <h1> 2016 - 17 Coordinators </h1>
        <div class="flex-col">
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/kunal.jpg" class="pic" alt="Kunal Kapila">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Kunal Kapila </b> </td>
                <td> <a href="mailto:kunalapila@gmail.com"> kunalapila@gmail.com </a> </td>
                <td> <a href="https://github.com/kunalapila" target="_blank">kunalapila@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    PPO at Tower Research.
        Interned at Tower Research in Summer 2017.
        Chairperson Students&#39; Senate 2017-18.

                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/pallav.jpg" class="pic" alt="Pallav Agarwal">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Pallav Agarwal </b> </td>
                <td> <a href="mailto:pallavagarwal07@gmail.com"> pallavagarwal07@gmail.com </a> </td>
                <td> <a href="https://github.com/pallavagarwal07" target="_blank">pallavagarwal07@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    Joining Google, India.
        Interned at Google, NYC in Summer 2017. Successfully
        completed GSoC in 2016 under the Gentoo Foundation.

                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/saksham.jpg" class="pic" alt="Saksham Sharma">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Saksham Sharma </b> </td>
                <td> <a href="mailto:saksham0808@gmail.com"> saksham0808@gmail.com </a> </td>
                <td> <a href="https://github.com/sakshamsharma" target="_blank">sakshamsharma@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    Joining Tower Research, NYC.
        Interned at Google, Seattle in Summer 2017. Has been a
        research fellow at Max Planck Institute for Software System.

                </p>
                </div>
            </div>
            </div>
            
            <div class="flex-row single-row">
            <div style="flex-shrink: 0;">
                <img src="assets/image/vinayak.jpg" class="pic" alt="Vinayak Tantia">
            </div>
            <div class="flex-col flex-grow-1">
                <div class="flex-row flex-row-wrap">
                <td> <b> Vinayak Tantia </b> </td>
                <td> <a href="mailto:tantia.vinayak1@gmail.com"> tantia.vinayak1@gmail.com </a> </td>
                <td> <a href="https://github.com/vtantia" target="_blank">vtantia@github</a></td>
                </div>
                <div class="flex-grow-1">
                <p class="left-align-text">
                    Joining Facebook AI Research, Canada.
        Interned at MILA, Canada in Spring 2018 and at Google, India in Summer 2017.

                </p>
                </div>
            </div>
            </div>
            
        </div>
        </div>
        </div>


        <style>

        .new-card-margin {
        margin-top: 25px;
        }

        .secyTable {
        width: 100%;
        }

        .secyTable tr {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        }

        .secyTable tr:hover {
        background-color: #333333;
        -webkit-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -o-transform:scale(1.05);
        transform:scale(1.05);
        }

        .secyRow {
        display:table-cell;
        }
        .secyRow b {
        color: #33dddd;
        }
        .secyTable tr:nth-child(even) {
        background-color: #2F4F4F;
        }

        </style>

    </div>
  </div>

  