{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          background-image: url(static/images/slider4.jpg);
        }
        </style>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>About</title>
        <meta name="description" content="The Programming Club, Ahmedabad University
      ">
        <meta name="google-site-verification" content="Jo2tsvJukG-gUtQpsqsSJRDXKo5XD10xutu1oJd-eTU" />
        <meta name="msvalidate.01" content="39EAB6293E810C6EFD770A53ECE7C7FE" />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/flex.css">
        <link rel="stylesheet" href="/static/css/alternative.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/typicons/2.0.7/typicons.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.4.1/octicons.min.css" rel="stylesheet">
        <link rel="canonical" href="http://pclub.in/about.html">
        <link rel="alternate" type="application/rss+xml" title="Programming Club Ahmedabad University" href="http://pclub.in/feed.xml">
      
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header class="site-header">
        <div class="wrapper">
            
            <div class="pacel">
                
                <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
                    <div class="pace-progress-inner"></div>
                </div>
                <div class="pace-activity"></div>
                
            </div>
            <!-- <img src="static/images/slider1.jpg" alt="" style="vertical-align:left" VSPACE="10"> <span class="site-title" data-wow-delay="0.4s" style="color:#f5f6f8;">Programming Club</span> -->
            <!-- <img src="static/images/slider1.jpg" class="site-image" alt="" style="vertical-align:left" VSPACE="10" HSPACE="20"><h3 class="site-title">Programming Club</h3></img> -->
            
            <div class="wrapper1">
              <img src="static/images/slider1.jpg" alt="" style="vertical-align:left" VSPACE="-5" width="61" height="68"> 
              <!-- <img src="static/images/slider1.jpg" class="site-image" alt="" style="vertical-align:left" VSPACE="15" HSPACE="20"><h3 class="site-title">Programming Club</h3></img> -->
              <!-- <img src="static/images/slider1.jpg" alt="" HSPACE="35"/> Programming&nbsp;&nbsp;Club -->
            </div>
            <div class="wrapper2">
              <h2>
              <span data-wow-delay="0.4s" style="color:#ffffff;">Programming &nbsp;Club</span>
              </h2>
            </div>
            <!-- <h3 id="route" class="site-title">Programming Club </h3> -->

            <nav class="site-nav">
                <a href="#" class="menu-icon">
                    <svg viewBox="0 0 18 15">
                    <path fill="#fff" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                    <path fill="#fff" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                    <path fill="#fff" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                    </svg>
                </a>
                
                <div class="trigger">
                      <a id="route" class="page-link" href="/index1" >Home</a>
                      <a id="route" class="page-link" href="/about" >About</a>
                      <a id="route" class="page-link" href="/events" >Events</a>
                      <a id="route" class="page-link" href="/resources">Resources</a>
                      <a id="route" class="page-link" href="/contact.html">Contact Info</a>
                      <a id="route" class="page-link" href="/projects.html">Projects</a>
                      <!--<a class="page-link" href="http://pclub.in/feed.xml"> Feeds</a>-->
                      <a class="page-link" href="http://github.com/pclubiitk?tab=repositories"><i class="typico typcn typcn-social-github"></i> Repositories</a>
                    
                </div>
            </nav>

        </div>

</header>

<div class="page-content">
    <div class="wrapper3">
      <div style="margin: 1rem auto;">

        <h1 class="archive-header"></h1>
        <div class="wf-container" style="margin-top: 80px;">
            <div class="wf-column" style="width: 25%;">
                <div class="wf-box">
                    <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                
                      <div class="tglgede" style="
                      background-color: rgba(105, 105, 105, 0.44);
                      background-image: url(static/images/slider4.jpg);
                      background-position: left top;
                      background-repeat: no-repeat;
                      background-size: 100% 100%;
                      ">
                        <p style="
                        background-color: rgba(0, 0, 0, 0.57);
                        padding: 30%;
                        color: #DADADA;
                        justify-content: center;
                        text-align: center;
                        margin-bottom: 0;
                        ">
                        October 2019
                        </p>
                      </div>
                
                
                    </a>
                    <div class="content">
                      <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                        <h3 style="padding: 5px 8px;
                        margin-bottom: 0;
                        background-color: #00bc8c;
                        color: #fff;
                        font-size: 15px;
                        border-top: 3px solid #03775A;">Travis CI</h3>
                      </a>
                
                    </div>
                  </div>

                <div class="wf-box">
                    <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                
                      <div class="tglgede" style="
                      background-color: rgba(105, 105, 105, 0.44);
                      background-image: url();
                      background-position: left top;
                      background-repeat: no-repeat;
                      background-size: 100% 100%;
                      ">
                        <p style="
                        background-color: rgba(0, 0, 0, 0.57);
                        padding: 30%;
                        color: #DADADA;
                        justify-content: center;
                        text-align: center;
                        margin-bottom: 0;
                        ">
                        October 2019
                        </p>
                      </div>
                
                
                    </a>
                    <div class="content">
                      <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                        <h3 style="padding: 5px 8px;
                        margin-bottom: 0;
                        background-color: #00bc8c;
                        color: #fff;
                        font-size: 15px;
                        border-top: 3px solid #03775A;">Travis CI</h3>
                      </a>
                
                    </div>
                </div>

                <div class="wf-box">
                    <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                
                      <div class="tglgede" style="
                      background-color: rgba(105, 105, 105, 0.44);
                      background-image: url();
                      background-position: left top;
                      background-repeat: no-repeat;
                      background-size: 100% 100%;
                      ">
                        <p style="
                        background-color: rgba(0, 0, 0, 0.57);
                        padding: 30%;
                        color: #DADADA;
                        justify-content: center;
                        text-align: center;
                        margin-bottom: 0;
                        ">
                        October 2019
                        </p>
                      </div>
                
                
                    </a>
                    <div class="content">
                      <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                        <h3 style="padding: 5px 8px;
                        margin-bottom: 0;
                        background-color: #00bc8c;
                        color: #fff;
                        font-size: 15px;
                        border-top: 3px solid #03775A;">Travis CI</h3>
                      </a>
                
                    </div>
                </div>

            </div>

            <div class="wf-column" style="width: 25%;">
              <div class="wf-box">
                  <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
              
                    <div class="tglgede" style="
                    background-color: rgba(105, 105, 105, 0.44);
                    background-image: url(static/images/slider4.jpg);
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    ">
                      <p style="
                      background-color: rgba(0, 0, 0, 0.57);
                      padding: 30%;
                      color: #DADADA;
                      justify-content: center;
                      text-align: center;
                      margin-bottom: 0;
                      ">
                      October 2019
                      </p>
                    </div>
              
              
                  </a>
                  <div class="content">
                    <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                      <h3 style="padding: 5px 8px;
                      margin-bottom: 0;
                      background-color: #00bc8c;
                      color: #fff;
                      font-size: 15px;
                      border-top: 3px solid #03775A;">Travis CI</h3>
                    </a>
              
                  </div>
                </div>

              <div class="wf-box">
                  <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
              
                    <div class="tglgede" style="
                    background-color: rgba(105, 105, 105, 0.44);
                    background-image: url();
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    ">
                      <p style="
                      background-color: rgba(0, 0, 0, 0.57);
                      padding: 30%;
                      color: #DADADA;
                      justify-content: center;
                      text-align: center;
                      margin-bottom: 0;
                      ">
                      October 2019
                      </p>
                    </div>
              
              
                  </a>
                  <div class="content">
                    <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                      <h3 style="padding: 5px 8px;
                      margin-bottom: 0;
                      background-color: #00bc8c;
                      color: #fff;
                      font-size: 15px;
                      border-top: 3px solid #03775A;">Travis CI</h3>
                    </a>
              
                  </div>
              </div>

              <div class="wf-box">
                  <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
              
                    <div class="tglgede" style="
                    background-color: rgba(105, 105, 105, 0.44);
                    background-image: url();
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    ">
                      <p style="
                      background-color: rgba(0, 0, 0, 0.57);
                      padding: 30%;
                      color: #DADADA;
                      justify-content: center;
                      text-align: center;
                      margin-bottom: 0;
                      ">
                      October 2019
                      </p>
                    </div>
              
              
                  </a>
                  <div class="content">
                    <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                      <h3 style="padding: 5px 8px;
                      margin-bottom: 0;
                      background-color: #00bc8c;
                      color: #fff;
                      font-size: 15px;
                      border-top: 3px solid #03775A;">Travis CI</h3>
                    </a>
              
                  </div>
              </div>

          </div>

          <div class="wf-column" style="width: 25%;">
            <div class="wf-box">
                <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
            
                  <div class="tglgede" style="
                  background-color: rgba(105, 105, 105, 0.44);
                  background-image: url(static/images/slider4.jpg);
                  background-position: left top;
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  ">
                    <p style="
                    background-color: rgba(0, 0, 0, 0.57);
                    padding: 30%;
                    color: #DADADA;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 0;
                    ">
                    October 2019
                    </p>
                  </div>
            
            
                </a>
                <div class="content">
                  <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                    <h3 style="padding: 5px 8px;
                    margin-bottom: 0;
                    background-color: #00bc8c;
                    color: #fff;
                    font-size: 15px;
                    border-top: 3px solid #03775A;">Travis CI</h3>
                  </a>
            
                </div>
              </div>

            <div class="wf-box">
                <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
            
                  <div class="tglgede" style="
                  background-color: rgba(105, 105, 105, 0.44);
                  background-image: url();
                  background-position: left top;
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  ">
                    <p style="
                    background-color: rgba(0, 0, 0, 0.57);
                    padding: 30%;
                    color: #DADADA;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 0;
                    ">
                    October 2019
                    </p>
                  </div>
            
            
                </a>
                <div class="content">
                  <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                    <h3 style="padding: 5px 8px;
                    margin-bottom: 0;
                    background-color: #00bc8c;
                    color: #fff;
                    font-size: 15px;
                    border-top: 3px solid #03775A;">Travis CI</h3>
                  </a>
            
                </div>
            </div>

            <div class="wf-box">
                <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
            
                  <div class="tglgede" style="
                  background-color: rgba(105, 105, 105, 0.44);
                  background-image: url();
                  background-position: left top;
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  ">
                    <p style="
                    background-color: rgba(0, 0, 0, 0.57);
                    padding: 30%;
                    color: #DADADA;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 0;
                    ">
                    October 2019
                    </p>
                  </div>
            
            
                </a>
                <div class="content">
                  <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                    <h3 style="padding: 5px 8px;
                    margin-bottom: 0;
                    background-color: #00bc8c;
                    color: #fff;
                    font-size: 15px;
                    border-top: 3px solid #03775A;">Travis CI</h3>
                  </a>
            
                </div>
            </div>

        </div>

        <div class="wf-column" style="width: 25%;">
          <div class="wf-box">
              <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
          
                <div class="tglgede" style="
                background-color: rgba(105, 105, 105, 0.44);
                background-image: url(static/images/slider4.jpg);
                background-position: left top;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                ">
                  <p style="
                  background-color: rgba(0, 0, 0, 0.57);
                  padding: 30%;
                  color: #DADADA;
                  justify-content: center;
                  text-align: center;
                  margin-bottom: 0;
                  ">
                  October 2019
                  </p>
                </div>
          
          
              </a>
              <div class="content">
                <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                  <h3 style="padding: 5px 8px;
                  margin-bottom: 0;
                  background-color: #00bc8c;
                  color: #fff;
                  font-size: 15px;
                  border-top: 3px solid #03775A;">Travis CI</h3>
                </a>
          
              </div>
            </div>

          <div class="wf-box">
              <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
          
                <div class="tglgede" style="
                background-color: rgba(105, 105, 105, 0.44);
                background-image: url();
                background-position: left top;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                ">
                  <p style="
                  background-color: rgba(0, 0, 0, 0.57);
                  padding: 30%;
                  color: #DADADA;
                  justify-content: center;
                  text-align: center;
                  margin-bottom: 0;
                  ">
                  October 2019
                  </p>
                </div>
          
          
              </a>
              <div class="content">
                <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                  <h3 style="padding: 5px 8px;
                  margin-bottom: 0;
                  background-color: #00bc8c;
                  color: #fff;
                  font-size: 15px;
                  border-top: 3px solid #03775A;">Travis CI</h3>
                </a>
          
              </div>
          </div>

          <div class="wf-box">
              <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
          
                <div class="tglgede" style="
                background-color: rgba(105, 105, 105, 0.44);
                background-image: url();
                background-position: left top;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                ">
                  <p style="
                  background-color: rgba(0, 0, 0, 0.57);
                  padding: 30%;
                  color: #DADADA;
                  justify-content: center;
                  text-align: center;
                  margin-bottom: 0;
                  ">
                  October 2019
                  </p>
                </div>
          
          
              </a>
              <div class="content">
                <a id="route" href="/wocproject/project/2019/10/25/lifeiitk-travis-ci.html">
                  <h3 style="padding: 5px 8px;
                  margin-bottom: 0;
                  background-color: #00bc8c;
                  color: #fff;
                  font-size: 15px;
                  border-top: 3px solid #03775A;">Travis CI</h3>
                </a>
          
              </div>
          </div>

      </div>

        </div>
    </div>
</div>



    <!-- <div class="container">
        <div class="row">
            <div class="owl-carousel owl-theme">
                {% for a in A2 %}
                <div>{% comment %} <div> style="background-image: url({{ a.img.url }});"> {% endcomment %}
                     <div class="item"> 
                          <div class="caption">
                               <div class="col-md-12 col-sm-12">
                                    <h1>{{ a.title }}</h1>
                                    <p>{{ a.title_description }}</p>
                                    <p>Date and Time : {{ a.date_time }}</p>
                                    
                               </div>
                          </div>
                     </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> -->
    
</body>

</html>

